/*
  Styles from this codepen:
  https://codepen.io/official_naveen/pen/rgknI
*/

body {
  font-family: "Open Sans", sans-serif;
  background-image: url("./images/got_map.jpg");
  width: auto;
}

.header {
  color: black;
  min-height: 50px;
  background-color: beige;
  padding: 10px;
}

/* .container-fluid {
 
} */

.admin-address {
  padding-top: 10px;
}

fieldset {
  width: 500px;
  margin: auto;
  padding-top: 50px;
}

.contract-details {
  margin-top: 50px;
  margin-left: 30px;
  background-color: aliceblue;
}

.election-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  height: auto;
  width: auto;
  margin: 10px;
  padding: 10px;
}

.list-of-accounts {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  height: auto;
  width: 250px;
  margin: 10px;
  padding: 10px;
  background-color: aliceblue;
}

.election-form {
  margin-top: 50px;
}

.form-button {
  width: 180px;
}

.voter-dashboard {
  padding-top: 40px;
}

.voter-card {
  width: auto;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
}
